#beadmaker {
	float: left;
	display: inline;
	width: 40%;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
}

#blackbutton {
	color: white;
}

#blackbutton:disabled {
	color: graytext;
}

#achievements {
	margin-left: 40px;
	float: left;
	text-align: center;
}

#achievements img {
	display: none;
}

.spiral img {
	float: right;
	position: relative;
	min-width: 293px;
	max-width: 293px;
	width: 293px;
	height: 293px;
}

.spin {
	display: none;
}
.spiral:hover .still {
	display: none;
}
.spiral:hover .spin {
	display: block;
	min-width: 293px;
	max-width: 293px;
	width: 293px;
	height: 293px;
}

table {
	width: 194px;
	height: 293px;
}

td {
	border: 2px #665588 solid;
	height: 59px;
	width: 87px;
	max-width: 87px;
	min-width: 87px;
}

table img {
	height: 49px;
	width: 80px;
}